.header{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQslybRdTHg0XhN1-1CL42bdeQ5IE9UI89VQQ&usqp=CAU);
    height: 100px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}
a{
	text-decoration: none;
}

.header h1{
    color:white;
    font-size: 36px;
    font-family: 'Roboto';

}
.popup{
	width:400px;
	background: #fff;
	border-radius: 6px;
	position: absolute;
	top:0;
	left:50%;
	transform:translate(-50%,-50%) scale(0.1);
	text-align: center;
	padding:0px 30px 30px;
	color:#333;
	z-index: 20;
	background-color:#52b652; 
	visibility: hidden;
	transition:1s;
}
.openPopup{
	top:50%;
	left:50%;
	visibility:visible;
	transform:scale(1);
}
.popup img{
	margin-top:-10%;
	width:100px;
	
}
.popup button{
	width:100%;
	background-color:gray; 
}
.header h1 span{
	float: right;
	margin-right:20px;
	
}
.section-1{
    margin-top: 200px;
}

.section-1  form{
    background-color: #dfe3ec;
    width: 300px;
    margin-top: 50px;
    padding: 0 30px 20px 30px;
    border-radius: 3px;
    margin-left: 400px;
}
.section-1 .form{
    display: none;
}
.section-1 .show{
    display: block;
}

.section-1  i{
    margin-top: 20px;
    color: red;
    margin-left: 280px;

}
.section-1 i:hover{
    cursor: pointer;
}
.section-1 .container input{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-right: 20px;
    height: 20px;
}
.section-1 .container label{
    margin-bottom: 10px;
}
.section-1  .add{
    background-color: rgb(33, 203, 90);
    padding: 5px;
    border: 2px solid rgb(33, 203, 90);
    border-radius: 3px;
    font-size: 22px;
    margin-left:80px;
    margin-bottom: 20px;
    color: white;
    font-weight: 500;
}

.section-1 .add:hover{
    cursor: pointer;
}

.section-1 .container  .add-nv{
    background-color: rgb(33, 203, 90);
    border: 2px solid rgb(33, 203, 90);
    padding: 3px 10px;
    font-size: 20px;
    color: white;
    border-radius: 2px;
    margin-left: 60px;
}

.section-one{
    margin-top: 100px;
}
.section-one a{
	text-decoration: none;
}
.delete_popup{
	width:400px;
	background: #fff;
	border-radius: 6px;
	position: absolute;
	top:0;
	left:50%;
	transform:translate(-50%,-50%) scale(0.1);
	text-align: center;
	padding:0px 30px 30px;
	color:#333;
	z-index: 20;
	background-color:#52b652; 
	visibility: hidden;
	transition:1s;
	border:solid black 3px;
}
.open_delete{
	top:50%;
	left:50%;
	visibility:visible;
	transform:scale(1);
}
.section-one .container table {
    border: 2px solid #337AB7;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.section-one .container table .title td{
    background-color: #4b93d2;
    margin-left: 50px;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Roboto';

    
}

.section-one .container table tr td{
    padding-left: 30px;
    padding-right: 30px;
 
}

.section-one .container table .desc td{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto';
    padding-bottom: 10px;
}

.section-one .container table .desc td .edit{
    background-color: #337AB7;
    border:2px solid #337AB7;
    padding: 3px 5px;
    color: white;
    border-radius: 2px;
}

.section-one .container table .desc td .delete{
    background-color: #F0AD4E;
    border: 2px solid #F0AD4E;
    padding: 3px 5px;
    color: white;
    border-radius: 2px;
}

.section-one .container table .desc td .delete:hover{
    cursor: pointer;
}

.section-one .container table .desc td .edit:hover{
    cursor: pointer;
}






